.sass-cache
lib
node_modules

config/sluck.json

public/account.js
public/sluck.js
public/style.css

script/sass

private/*
!private/avatar
private/avatar/*
!private/avatar/default.png
