// LAYOUT
$min-width: 768px;
$left-panel-width: 220px;
$chat-padding: 20px;

// COLORS
$blue-dark: #303E4D;


@import "common/hide";
@import "common/wrapper";

@import "app/app";
@import "modal/modal";


html { height: 100% }

body {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    min-width: $min-width;
    margin: 0px;

    font-family: Lato;
    font-weight: 400;
}
