<div id="channel-list">
    <div id="channel-header" class="header">channels</div>
    <div id="channel-lb" class="list"></div>

    <div id="direct-header" class="header">direct messages</div>
    <div id="direct-lb" class="list"></div>

    <div id="template" class="hide">
        <div class="item">
            <div class="name"></div>           
        </div>
    </div>
</div>
