<div id="channel-list">
    <div id="channel-header" class="header">channels</div>
    <div id="channel-lb"></div>

    <div id="template" class="hide">
        <div class="channel">
            <div class="name"></div>
        </div>
    </div>
</div>
