<div id="chat" class="wrapper column">
    <div id="template" class="hide">
        <div class="message-container hide"></div>

        <div class="day-container">
            <div class="day"></div>
            <div class="messages"></div>
        </div>

        <div class="message">
            <img class="avatar" src="">

            <div class="content">
                <div class="header">
                    <div class="user"></div>
                    <div class="date"></div>
                </div>
                <div class="text"></div>
            </div>
        </div>

    </div>
</div>
