<div id="chat-topbar">
    <div id="channel-info">
        <div class="name"></div>
        <div class="info">
            <div class="topic"></div>
        </div>
    </div>

    <img id="users" class="icon selected" src="icon/users.png">
</div>
