<div id="user-list">
    <div id="online" class="header">online - <span class="number"></span></div>
    <div id="online-lb" class="list"></div>

    <div id="offline" class="header">offline - <span class="number"></span></div>
    <div id="offline-lb" class="list"></div>

    <div id="template" class="hide">
        <div class="user">
            <img class="avatar" src="">
            <div class="name"></div>
        </div>
    </div>
</div>
