<div id="user-list">
    <div id="template" class="hide">
        <div class="user offline">
            <img class="avatar" src="icon/user.png">
            <div class="name">bob</div>
        </div>
    </div>
</div>
