.user {
    display: flex;
    align-items: center;
    padding: 2px $chat-padding;
    margin-top: 5px;

    color: white;
    font-size: 1.4em;
    cursor: pointer;

    .avatar {
        height: 1.5em;
        width: 1.5em;
        background-color: white;
        border-radius: 100%;
    }

    .name {
        margin-left: 0.4em;
        font-size: 0.7em;
    }

    &:hover {
        background-color: lighten($blue-dark, 25);
        opacity: 1 !important;
    }

    &.offline {
        opacity: 0.6;
    }

    &.online {
        opacity: 1;
    }
}
