.header, .user {
    padding: 2px $chat-padding;
    color: white;
}


.header {
    margin-top: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.6;
}


.user {
    display: flex;
    align-items: center;
    margin-top: 5px;

    font-size: 1.4em;
    cursor: pointer;

    .avatar {
        height: 1.5em;
        width: 1.5em;
        background-color: white;
        border-radius: 100%;
    }

    .name {
        margin-left: 0.4em;
        font-size: 0.7em;
    }

    &:hover {
        background-color: lighten($blue-dark, 25);
        opacity: 1 !important;
    }
}

#online-lb .user {
    opacity: 1;
}

#offline-lb .user {
    opacity: 0.6;
}
