<div id="user-setting">
    <img class="avatar" src="icon/user.png">
    <div class="name"></div>

    <img id="setting" class="icon" src="icon/settings.png">
    <a href="/logout"><img class="icon" src="icon/logout.png"></a>
</div>
