<div class="checkbox">
    <label>
        <div class="toggle">
            <input id=<%- locals.id %> type="checkbox">
            <span class="handle"></span>
            <span class="text"><%- locals.label %></span>
        </div>
    </label>
</div>
