.input {
    padding: 0.5em;
    box-sizing: border-box;

    appearance: none;
    border: solid 2px darken($grey, 20);
    border-radius: 5px;

    font-family: Lato;
    font-size: 1.2em;
    font-weight: 700;
    color: $black;

    &:focus {
        border-color: darken($grey, 30);
    }
}
