.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 900;
}

.checkbox, .input {
    margin-bottom: 1.5em;
}

.action {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 1em;
    }
}
