<div id="create-channel" class="wrapper column center hide">
    <div class="container">
        <div class="title">Create a channel</div>

        <%- include("../common/checkbox.ejs", {id: "auto-join", label: "auto-join"}); %>

        <input id="name" class="input" type="text" placeholder="Name">

        <div class="action">
            <button id="close" class="button">Close</button>
            <button id="create" class="button valid">Create</button>
        </div>
    </div>
</div>
