<div id="chat">
    <div id="topbar">
        <div id="channel-name"></div>
    </div>

    <div id="channel-content">

        <div id="template" class="hide">
            <div class="message-container hide"></div>

            <div class="day-container">
                <div class="day"></div>
                <div class="messages"></div>
            </div>
            
            <div class="message">
                <div class="header">
                    <div class="user"></div>
                    <div class="date"></div>
                </div>
                <div class="text"></div>
            </div>
        </div>
    </div>

    <div id="input">
        <textarea wrap="hard" spellcheck="false"></textarea>
    </div>
</div>
