<div id="chat">
    <div id="topbar">
        <div id="channel-name"></div>
    </div>

    <div id="channel-content">

        <div id="template" class="hide">
            <div class="message-container hide"></div>           
        </div>
    </div>

    <div id="input">
        <textarea wrap="hard" spellcheck="false"></textarea>
    </div>
</div>
