<div id="left-panel">

    <div id="channel-list">
        <div id="header">Channels</div>
        <div id="list"></div>

        <div id="template" class="hide">
            <div class="channel-list-item"></div>
        </div>
    </div>

</div>
