#left-panel {
    display: flex;
    flex-direction: column;
    flex: auto;

    min-width: $left-panel-width;
    max-width: $left-panel-width;

    background-color: $blue-dark;
    border-right: solid 1px darken($blue-dark, 10);
}

#channel-list > #header,
.channel-list-item {
    padding: 5px 20px;

    font-size: 1em;
    color: white;
    opacity: 0.6;

    cursor: pointer;

    &:hover {
        background-color: lighten($blue-dark, 10);
    }
}

#channel-list > #header {
    text-transform: uppercase;
    font-weight: 700;
}

.channel-list-item {
    &.selected {
        background-color: lighten($blue-dark, 30);
        opacity: 1;
    }
}
